{% extends "base.html.twig" %}

{% block title %}
  Payez votre commande avec Stripe
{% endblock %}

{% block body %}
  <h1>Payez votre commande avec Stripe</h1>

  <form id="payment-form">
    <div id="payment-element"><!--Stripe.js injects the Payment Element--></div>
    <button id="submit" class="btn btn-primary mt-2">
      <span id="button-text">Payer</span>
    </button>
    <div id="payment-message" class="hidden"></div>
  </form>
{% endblock body %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const clientSecret = '{{ clientSecret }}';
    const stripe = Stripe("pk_test_51KaxGsGzMoPIs4eyPR2O5rTz1PT1doxDSfVdduHNbiF8hh8uhk2tvjwz3n5Ts5KK7tUTtJgFNg4RdgYHfHfmGT2t00wovYquWE");

    function initialize() {
      document
        .querySelector("#payment-form")
        .addEventListener("submit", handleSubmit);

      elements = stripe.elements({ clientSecret });
      const paymentElement = elements.create("payment");

      paymentElement.mount("#payment-element");
    }

    async function handleSubmit(e) {
      e.preventDefault();
      const {error} = await stripe.confirmPayment({
        elements,
        confirmParams: {
          return_url: "{{ url('cart_show') }}",
        },
      });
    }

    async function checkStatus() {
      const clientSecret = new URLSearchParams(window.location.search).get(
        "payment_intent_client_secret"
      );

      if (!clientSecret) {
        return;
      }

      const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);

      switch (paymentIntent.status) {
        case "succeeded":
          console.log("Payment succeeded!");
          break;
        case "processing":
          console.log("Your payment is processing.");
          break;
        case "requires_payment_method":
          console.log("Your payment was not successful, please try again.");
          break;
        default:
          console.log("Something went wrong.");
          break;
      }
    }

    initialize();
    checkStatus();
  </script>
{% endblock javascripts %}

{#{% extends 'base.html.twig' %}#}

{#{% block title %}#}
{#  Payez votre commande avec Stripe#}
{#{% endblock title %}#}

{#{% block body %}#}
{#  <h1>Payez votre commande avec Stripe</h1>#}

{#  <form id="payment-form">#}
{#    <div id="card-element"><!--Stripe.js injects the Payment Element--></div>#}
{#    <button id="submit" class="btn btn-success">#}
{#      <div class="spinner hidden" id="spinner"></div>#}
{#      <span id="button-text">Payer avec Stripe!</span>#}
{#    </button>#}
{#    <p id="card-error" role="alert"></p>#}
{#  </form>#}
{#{% endblock body %}#}

{#{% block javascripts %}#}
{#  {{ parent() }}#}

{#  <script src="https://js.stripe.com/v3/"></script>#}
{#  <script type="application/javascript">#}
{#    const clientSecret = '{{ clientSecret }}';#}
{#    const stripe = Stripe("pk_test_51KaxGsGzMoPIs4eyPR2O5rTz1PT1doxDSfVdduHNbiF8hh8uhk2tvjwz3n5Ts5KK7tUTtJgFNg4RdgYHfHfmGT2t00wovYquWE");#}
{#    const elements = stripe.elements();#}
{#    const card = elements.create("card");#}

{#    card.mount("#card-element");#}
{#    card.on("change", function (event) {#}
{#      document.querySelector("button").disabled = event.empty;#}
{#      document.querySelector("#card-error").textContent = event.error ? event.error.message : "";#}
{#    });#}

{#    const form = document.getElementById("payment-form");#}

{#    form.addEventListener("submit", function (event) {#}
{#      event.preventDefault();#}

{#      stripe#}
{#        .confirmCardPayment(clientSecret, {#}
{#          payment_method: {#}
{#            card: card#}
{#          }#}
{#        })#}
{#        .then(function (result) {#}
{#          if (result.error) {#}
{#            console.log(result.error.message);#}
{#          } else {#}
{#            console.log(result);#}
{#          }#}
{#        });#}
{#    });#}
{#  </script>#}
{#{% endblock javascripts %}#}
